<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <%- include('public/head'); %>

    <title>Creative - Start Bootstrap Theme</title>


</head>

<body id="page-top">

<%- include('public/navbar'); %>
<header class="masthead text-center text-white d-flex">
    <div class="container col-lg-7 my-auto">
            <div class="row" style="margin-top: 60px; margin-bottom:20px;">
            </div>
            <div class="result">
                <div>
                    <div class="tutor-name" style="color: #FFFFFF">
                        New tutor
                    </div>
                </div>
                <div class="row" style="background-color: #FFFFFF;margin-bottom: 20px;opacity: 0.5">
                    <div class="col-lg-3">
                        <div class="tutor-title">

                        </div>
                        .
                    </div>
                    <div class="col-lg-9">
                        <div class="tutor-info">
                            1.Click the register as tutor in the log-in button.
                        </div>
                        <div class="tutor-info">
                            2.Choose the subject as your class.
                        </div>
                        <div class="tutor-info">
                            3.Fill in the information for our use. The information will be only used for our tutor website.
                        </div>
                        <div class="tutor-info">
                            4.Write a few words about yourself or post a resume. It will make tutee find you more easily.
                        </div>
                        <div class="tutor-info">
                            5.Check your ticket in your personal center.
                        </div>
                        <div class="tutor-info">
                            6.You can cancel or accept the ticket or you can talk with the tutee first.
                        </div>
                    </div>
                </div>
                <div>
                    <div class="tutor-name" style="color: #FFFFFF">
                        New tutee
                    </div>
                </div>
                <div class="row" style="background-color: #ffffff;margin-bottom: 20px;opacity: 0.5">
                    <div class="col-lg-3">
                        <div class="tutor-title">
                        </div>
                        .
                    </div>
                    <div class="col-lg-9">
                        <div class="tutor-info">
                            1.Before you register, you can check if there are any tutor meet your need.
                        </div>
                        <div class="tutor-info">
                            2.If you want to make an appointment, you have to sign up with your edu email.
                        </div>
                        <div class="tutor-info">
                            3.Find a tutor with your subject and schedule.
                        </div>
                        <div class="tutor-info">
                            4.Choose the right one and contact with him!
                        </div>
                        <div class="tutor-info">
                            5.Check your ticket and history event in your personal center.
                        </div>
                    </div>
                </div>
                <div>
                    <div class="tutor-name" style="color: #FFFFFF">
                        Disclaimer
                    </div>
                </div>
                <div class="row" style="background-color: #ffffff;margin-bottom: 20px;opacity: 0.5">
                    <div class="col-lg-3">
                        <div class="tutor-title">
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="tutor-info">
                            The information contained here is provided as a public service with the understanding that TnT makes no warranties, either expressed or implied, concerning the accuracy, completeness, reliability, or suitability of the information. Nor does TnT warrant that the use of this information is free of any claims of copyright infringement.
                        </div>
                        <div class="tutor-info">
                            TnT web pages do not endorse any commercial providers or their products.
                        </div>
                    </div>
                </div>
            </div>
        </div>
</header>
</body>
</html>
