<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <%- include('public/head'); %>

    <title>TnT</title>

</head>

<body>
<%- include('public/navbar'); %>

<div class="view-body">
    <div class="view-sidebar">
        <div class="sidebar-content">
            <div class="sidebar-nav">
                <div class="sidebar-title">
                    <a>
                        <span class="icon"><b class="fl icon-arrow-down"></b></span>
                        <span class="text-normal" style="color: white">Personal Center</span>
                    </a>
                </div>
            </div>
            <div class="sidebar-nav">
                <div class="sidebar-title">
                    <a>
                        <span class="text-normal" style="color: white">Profile</span>
                    </a>
                </div>
                <ul class="sidebar-trans">
                    <!--<li>-->
                        <!--<a>-->
                            <!--<span class="text-normal" style="color: white">Events</span>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a>-->
                            <!--<span class="text-normal" style="color: white">History</span>-->
                        <!--</a>-->
                    <!--</li>-->
                    <li>
                        <a href="chat">
                            <span class="text-normal" style="color: white">Contacts</span>
                        </a>
                    </li>
                    <!--<li>-->
                        <!--<a>-->
                            <!--<span class="text-normal" style="color: white">Safety</span>-->
                        <!--</a>-->
                    <!--</li>-->
                    <li  id="logout">
                        <a>
                            <span class="text-normal" style="color: white">Log Out</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="view-product background-color">
        <div class="padding-big background-color">
            <div class="account-info clearfix">
                <div class="text-box-main min-width-300 fl">
                    <dl>
                        <dt class="padding-big-left lists-border-list clearfix">
                        <div class="title fl padding-big-top padding-big-bottom welcome-info" >
                            <p>HI, <br/><span id="name_span">guest</span></p>
                        </div>
                        <span class="fr icon-head">
										<img id='user_avatar_img' style="border-radius: 40px;width: 80px;height: 80px;"
                                             src="http://user.haidao.la/avatar.php?uid=1504&type=virtual&size=middle"
                                             alt="user_avatar">
									</span>
                        </dt>
                        <dd class="padding-big clearfix">
                            <p class="w75 fl">
                                <i class="fl icon icon-mobile"></i>

                                <span class="fl margin-left">Phone：<span id="phone_span">(1)234-567</span></span>
                            </p>
                            <p class="w75 fl">
                                <i class="fl icon icon-email"></i>

                                <span class="fl margin-left">Email: <span id="email_span">ham@gwu.edu</span></span>
                            </p>
                        </dd>
                    </dl>
                </div>
            </div>

            <!--产品-->
            <div class="account-product margin-big-top clearfix">
                <div class="text-box-main padding-big fl mine-product">
                    <h2 class="h6 margin-big-bottom reservation-title" >My reservation</h2>
                    <div class="appointment-wrapper">
                        <div class="appointment-filter-wrapper">
                            <ul class="nav nav-pills nav-fill">
                                <li class="nav-item">
                                    <a class="nav-link appointment-filter-button appointment-filter-button-active"
                                       href="#" id="appointment_filter_success_button">Success</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link appointment-filter-button" href="#" id="appointment_filter_pending_button">Pending</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link appointment-filter-button" href="#" id="appointment_filter_canceled_button">Canceled</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link appointment-filter-button" href="#" id="appointment_filter_history_button">History</a>
                                </li>
                            </ul>
                        </div>
                        <div class="appointment-list-wrapper">
                            <div class="appointment-list" id="success_appointment_list">
                                <div class="appointment-element-wrapper">
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <img style="border-radius: 40px;width: 80px;height: 80px;"
                                                 src="/images/default.jpg"
                                                 alt="user_avatar">
                                        </div>
                                        <div class="col-lg-8">
                                            <div class="appointment-title">Introduction to Mathematical Reasoning</div>
                                            <div class="appointment-tutor"><i class="fa fa-user" aria-hidden="true"></i>
                                                Cedric Zhang
                                            </div>
                                            <div class="appointment-time"><i class="fa fa-clock-o"
                                                                             aria-hidden="true"></i>
                                                2017-11-26 11:00
                                            </div>
                                            <div class="appointment-place"><i class="fa fa-map-marker"
                                                                              aria-hidden="true"></i>
                                                Library
                                            </div>
                                        </div>

                                        <div class="col-lg-2">
                                            <button type="button" class="btn btn-danger">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="appointment-element-wrapper">
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <img style="border-radius: 40px;width: 80px;height: 80px;"
                                                 src="/images/default.jpg"
                                                 alt="user_avatar">
                                        </div>
                                        <div class="col-lg-8">
                                            <div class="appointment-title">Introduction to Mathematical Reasoning</div>
                                            <div class="appointment-tutor"><i class="fa fa-user" aria-hidden="true"></i>
                                                Cedric Zhang
                                            </div>
                                            <div class="appointment-time"><i class="fa fa-clock-o"
                                                                             aria-hidden="true"></i>
                                                2017-11-26 11:00
                                            </div>
                                            <div class="appointment-place"><i class="fa fa-map-marker"
                                                                              aria-hidden="true"></i>
                                                Library
                                            </div>
                                        </div>

                                        <div class="col-lg-2">
                                            <button type="button" class="btn btn-danger">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="appointment-list" id="pending_appointment_list" style="display: none"></div>
                            <div class="appointment-list" id="canceled_appointment_list" style="display: none"></div>
                            <div class="appointment-list" id="history_appointment_list" style="display: none"></div>
                        </div>

                    </div>
                </div>
                <div class="text-box-main padding-big fl w25">
                    <h2 class="h6 margin-big-bottom">Notice</h2>
                    <ul class="lists">
                        <li class="lists-list"><a href="#">11-20 ThanksGiving holiday!</a></li>
                        <li class="lists-list"><a href="#">11-01 Disclaimer</a></li>
                        <li class="lists-list"><a href="#">10-29 ISO workshop</a></li>
                        <li class="lists-list"><a href="#">10-27 GW Today </a></li>
                        <li class="lists-list"><a href="#">10-24 GW InfoMail</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    $("#logout").click(function () {
        let keys = document.cookie.match(/[^ =;]+(?=\=)/g);
        if(keys) {
            for(let i = keys.length; i--;)
                document.cookie = keys[i] + '=0;expires=' + new Date(0).toUTCString()
        }
        location.href='/welcome'
        return false
    })
</script>
</html>