<!doctype html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <%- include('public/head'); %>

    <title>Creative - Start Bootstrap Theme</title>


</head>
<body>
<h1 class="w3ls">User Signup Form</h1>
<div class="content-agileits">
    <form action="#" method="post" data-toggle="validator" role="form">
        <div class="form-group  w3 w3l">
            <label for="firstname" class="control-label">First Name</label>
            <input type="text" class="form-control" id="firstname" placeholder="First Name"
                   data-error="Enter Your First Name" required>
            <div class="help-block with-errors"></div>
        </div>
        <div class="form-group agileits">
            <label for="lastname" class="control-label">Last Name</label>
            <input type="text" class="form-control" id="lastname" placeholder="Last Name"
                   data-error="Enter Your Last Name" required>
            <div class="help-block with-errors"></div>
        </div>
        <div class="form-group w3l agileinfo wthree">
            <label for="inputEmail" class="control-label">Email (with edu)</label>
            <input type="email" class="form-control" id="inputEmail" placeholder="Email"
                   data-error="This email address is invalid" required>
            <div class="help-block with-errors"></div>
        </div>
        <div class="form-group agileinfo wthree agile">
            <label for="Phone" class="control-label">Phone</label>
            <input type="text" class="form-control" id="Phone" placeholder="Phone" data-error="Enter Your Phone Number"
                   required>
            <div class="help-block with-errors"></div>
        </div>
        <div class="form-group agileinfo wthree  agile">
            <label for="Phone" class="control-label">Zip Code</label>
            <input type="text" class="form-control" id="zipcode" placeholder="123" data-error="Enter Your Phone Number"
                   required>
            <div class="help-block with-errors"></div>
        </div>
        <div class="form-group agile">
            <label for="inputPassword" class="control-label">Password</label>
            <div class="form-inline row">
                <div class="form-group col-sm-6 ">
                    <input type="password" data-minlength="6" class="form-control" id="inputPassword"
                           placeholder="Password">
                </div>
                <div class="form-group col-sm-6 ">
                    <input type="password" class="form-control" id="inputPasswordConfirm" data-match="#inputPassword"
                           data-match-error="Whoops, these don't match" placeholder="Confirm Password">
                    <div class="help-block with-errors"></div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-lg" id="submit">Submit</button>
        </div>
    </form>
</div>
<script>
    $("#submit").click(function () {
        var first_name = $("#firstname").val()
        var last_name = $("#lastname").val()
        var username = $("#inputEmail").val()
        var phone = $("#Phone").val()
        var zip = $("#zipcode").val()
        var password = $("#inputPassword").val()


        setTimeout(function () {
            var a = $(".has-error");
            if (a.length) {

            } else {
                $.ajax({
                    url: "/api/register",
                    method: "POST",
                    dataType: "json",
                    data: {
                        firstname: first_name,
                        lastname: last_name,
                        username: username,
                        phone: phone,
                        zip: zip,
                        password: password,
                        isTutor: false
                    },
                    success: function (result) {
                        if (result.code > 0) {
                            $.cookie("username", result.username);
                            $.cookie("token", result.token);
                            $.cookie("isTutor", result.isTutor);
                            $.cookie("name", result.name);
                            location.href='/search-what'
                        } else {
                            alert('Error. ' + result.info)
                        }
                    }
                })
            }
        }, 50)

        return false


    })
</script>
</body>
</html>
