<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <%- include('public/head'); %>

    <title>Creative - Start Bootstrap Theme</title>


</head>

<body id="page-top">

<%- include('public/navbar'); %>
<header class="masthead text-center text-white d-flex">
    <div class="container my-auto tnt-container">
        <!--<div class="row">-->
        <!--<div class="col-lg-10 mx-auto">-->
        <!--<h1 class="text-uppercase">-->
        <!--<strong>Fuck You!</strong>-->
        <!--</h1>-->
        <!--</div>-->
        <!--</div>-->


        <div class="row search-three-steps-nav">
            <div class="col-lg-4">
                <div class="step-wrapper step-now" id="search_what_button">
                    <span class="step-icon step-icon-now">
                        <i class="fa fa-question-circle" aria-hidden="true"></i>
                    </span>
                    <span class="step-name step-name-now">Select Subject</span>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="step-wrapper step-next" id="search_when_button">
                    <span class="step-icon step-icon-next">
                        <i class="fa fa-question-circle" aria-hidden="true"></i>
                    </span>
                    <span class="step-name step-name-now">Basic Information</span>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="step-wrapper step-next" id="search_where_button">
                    <span class="step-icon step-icon-next">
                        <i class="fa fa-question-circle" aria-hidden="true"></i>
                    </span>
                    <span class="step-name step-name-now">Personal Profile</span>
                </div>
            </div>
        </div>

        <!--<div class="progress">-->
        <!--<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 33%"-->
        <!--aria-valuenow="33" aria-valuemin="0" aria-valuemax="100"></div>-->
        <!--</div>-->
        <div class="row">
            <div class="col-lg-4">
                <ul class="list-group" style="position: fixed">
                    <li class="list-group-item" style="background-color: transparent; color: #F05F40">Selected Field</li>
                    <li class="list-group-item" style="background-color: transparent">Algorithms</li>
                    <li class="list-group-item" style="background-color: transparent">Algebra</li>
                    <li class="list-group-item" style="background-color: transparent">Functional Programming</li>
                    <li class="list-group-item" style="background-color: transparent">Computer Network</li>
                    <a class="btn btn-primary" href="register-tutor-when" style="margin-top: 10px; width: 40% ; align-self: center" id="what_next_button">Next</a>
                </ul>
            </div>
            <div class="col-lg-8">
                <div id="accordion" role="tablist">
                    <div class="card bg-transparent">
                        <div class="card-header bg-white" style="opacity: 0.7" role="tab" id="headingOne">
                            <h5 class="mb-0 float-left">
                                <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Math
                                </a>
                            </h5>
                        </div>

                        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body" >
                                <div class="row">
                                    <div class="col">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" value="">
                                            Algebra
                                        </label>
                                    </div>
                                    <div class="col">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" value="">
                                            Calculus  Precalculus
                                        </label>
                                    </div>
                                    <div class="col">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" value="">
                                            Single Calculus
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" value="">
                                            Linear Algebra
                                        </label>
                                    </div>
                                    <div class="col">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" value="">
                                            Multivariable Calculus
                                        </label>
                                    </div>
                                    <div class="col">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" value="">
                                            Real Analysis
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" value="">
                                            Real Analysis II
                                        </label>
                                    </div>
                                    <div class="col">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" value="">
                                            Reading and Research
                                        </label>
                                    </div>
                                    <div class="col">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" value="">
                                            Dynamical Systems
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" value="">
                                            Algorithmic Learning Theory
                                        </label>
                                    </div>
                                    <div class="col">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" value="">
                                            Graduate Student Experience
                                        </label>
                                    </div>
                                    <div class="col">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" value="">
                                            Dissertation Research
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card bg-transparent">
                        <div class="card-header bg-white" style="opacity: 0.7" role="tab" id="headingTwo">
                            <h5 class="mb-0 float-left">
                                <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Computer Science
                                </a>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body bg-transparent" >
                                <div class="row">
                                    <div class="col">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" value="">
                                            Artificial Intelligence
                                        </label>
                                    </div>
                                    <div class="col">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" value="">
                                            Network Defense
                                        </label>
                                    </div>
                                    <div class="col">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" value="">
                                            Network Defense 2
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" value="">
                                            E-Commerce Security
                                        </label>
                                    </div>
                                    <div class="col">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" value="">
                                            Computer Graphics II
                                        </label>
                                    </div>
                                    <div class="col">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" value="">
                                            Computer Security
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" value="">
                                            Artificial Intelligence
                                        </label>
                                    </div>
                                    <div class="col">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" value="">
                                            Database Management
                                        </label>
                                    </div>
                                    <div class="col">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" value="">
                                            Software Engineering
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" value="">
                                            Software Paradigms
                                        </label>
                                    </div>
                                    <div class="col">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" value="">
                                            Software Engineering
                                        </label>
                                    </div>
                                    <div class="col">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" value="">
                                            Design of Algorithms
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card bg-transparent">
                        <div class="card-header bg-white" style="opacity: 0.7" role="tab" id="headingThree">
                            <h5 class="mb-0 float-left">
                                <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Programming Language
                                </a>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
                            <div class="card-body bg-transparent" >
                                <div class="row">
                                    <div class="col">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" value="">
                                            Artificial Intelligence
                                        </label>
                                    </div>
                                    <div class="col">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" value="">
                                            Network Defense
                                        </label>
                                    </div>
                                    <div class="col">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" value="">
                                            Network Defense 2
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" value="">
                                            E-Commerce Security
                                        </label>
                                    </div>
                                    <div class="col">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" value="">
                                            Computer Graphics II
                                        </label>
                                    </div>
                                    <div class="col">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" value="">
                                            Computer Security
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" value="">
                                            Artificial Intelligence
                                        </label>
                                    </div>
                                    <div class="col">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" value="">
                                            Database Management
                                        </label>
                                    </div>
                                    <div class="col">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" value="">
                                            Software Engineering
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" value="">
                                            Software Paradigms
                                        </label>
                                    </div>
                                    <div class="col">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" value="">
                                            Software Engineering
                                        </label>
                                    </div>
                                    <div class="col">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" value="">
                                            Design of Algorithms
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</header>
</body>

</html>
