<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <%- include('public/head'); %>

    <title>Creative - Start Bootstrap Theme</title>


</head>

<body id="page-top">

<%- include('public/navbar'); %>
<header class="masthead text-center text-white d-flex">
    <div class="container my-auto">
        <div class="row" style="margin-top: 60px; margin-bottom:20px;">
            <div class="input-group w-25">
                <input type="text" class="form-control" placeholder="input the subject"
                       aria-label="Text input with segmented button dropdown">
                <a class="btn btn-primary">Search</a>
            </div>
            <div class="input-group col-sm-3" style="margin-left: 30%;">
                <select id="inputState" class="form-control">
                    <option selected>Order</option>
                    <option>Order by Name</option>
                    <option>Order by Rank</option>
                    <option>Order by Price</option>


                </select>
            </div>
        </div>
        <div class="result">

            <div class="row result-row-wrapper"  style="width: 80%; background-color: #ffffff;margin-bottom: 20px">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-3">
                            <div style="display: inline-block">
                                <img class="img-thumbnail"
                                     src="https://www.fastweb.com/uploads/article_photo/photo/2036639/how-to-pick-the-best-professors.jpg">
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="tutor-name">
                                William J.
                            </div>
                            <div class="tutor-info">

                                I have worked 3 years in the Cyber Security Field as well as instructing, tutoring
                                numerous
                                professionals on many topics in and related to the field. I hold undergraduate degrees
                                in
                                Computer Science and Mathematics and a graduate degree in Computer Security and
                                Information
                                Assurance. I have professionally developed in C, C++, PHP, Perl, Python and Java over a
                                3-year
                                career on both Linux and Windows environments.
                            </div>
                        </div>
                    </div>
                    <div class="row tutor-info-bottom">
                        <div class="col-lg-3">
                            <span class="rating-star-wrapper">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            </span>
                            <span class="rating-score">4.6</span>
                            <span class="rating-number">(15)</span>
                        </div>
                        <div class="col-lg-4">
                            <span class="major-wrapper">Major: </span>
                            <span class="major-name">Computer Science</span>
                        </div>
                        <div class="col-lg-5">
                            <span class="clock-icon-wrapper">
                                <i class="fa fa-clock-o" aria-hidden="true"></i>
                            </span>
                            <span class="week-day-name">MON</span>
                            <span class="time-number">10:00-20:00</span>
                        </div>

                    </div>
                </div>


            </div>
            <div class="row result-row-wrapper"  style="width: 80%; background-color: #ffffff;margin-bottom: 20px">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-3">
                            <div style="display: inline-block">
                                <img class="img-thumbnail"
                                     src="https://www.fastweb.com/uploads/article_photo/photo/2036639/how-to-pick-the-best-professors.jpg">
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="tutor-name">
                                William J.
                            </div>
                            <div class="tutor-info">

                                I have worked 3 years in the Cyber Security Field as well as instructing, tutoring
                                numerous
                                professionals on many topics in and related to the field. I hold undergraduate degrees
                                in
                                Computer Science and Mathematics and a graduate degree in Computer Security and
                                Information
                                Assurance. I have professionally developed in C, C++, PHP, Perl, Python and Java over a
                                3-year
                                career on both Linux and Windows environments.
                            </div>
                        </div>
                    </div>
                    <div class="row tutor-info-bottom">
                        <div class="col-lg-3">
                            <span class="rating-star-wrapper">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            </span>
                            <span class="rating-score">4.6</span>
                            <span class="rating-number">(15)</span>
                        </div>
                        <div class="col-lg-4">
                            <span class="major-wrapper">Major: </span>
                            <span class="major-name">Computer Science</span>
                        </div>
                        <div class="col-lg-5">
                            <span class="clock-icon-wrapper">
                                <i class="fa fa-clock-o" aria-hidden="true"></i>
                            </span>
                            <span class="week-day-name">MON</span>
                            <span class="time-number">10:00-20:00</span>
                        </div>

                    </div>
                </div>


            </div>
            <div class="row result-row-wrapper"  style="width: 80%; background-color: #ffffff;margin-bottom: 20px">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-3">
                            <div style="display: inline-block">
                                <img class="img-thumbnail"
                                     src="https://www.fastweb.com/uploads/article_photo/photo/2036639/how-to-pick-the-best-professors.jpg">
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="tutor-name">
                                William J.
                            </div>
                            <div class="tutor-info">

                                I have worked 3 years in the Cyber Security Field as well as instructing, tutoring
                                numerous
                                professionals on many topics in and related to the field. I hold undergraduate degrees
                                in
                                Computer Science and Mathematics and a graduate degree in Computer Security and
                                Information
                                Assurance. I have professionally developed in C, C++, PHP, Perl, Python and Java over a
                                3-year
                                career on both Linux and Windows environments.
                            </div>
                        </div>
                    </div>
                    <div class="row tutor-info-bottom">
                        <div class="col-lg-3">
                            <span class="rating-star-wrapper">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            </span>
                            <span class="rating-score">4.6</span>
                            <span class="rating-number">(15)</span>
                        </div>
                        <div class="col-lg-4">
                            <span class="major-wrapper">Major: </span>
                            <span class="major-name">Computer Science</span>
                        </div>
                        <div class="col-lg-5">
                            <span class="clock-icon-wrapper">
                                <i class="fa fa-clock-o" aria-hidden="true"></i>
                            </span>
                            <span class="week-day-name">MON</span>
                            <span class="time-number">10:00-20:00</span>
                        </div>

                    </div>
                </div>


            </div>
            <div class="row result-row-wrapper"  style="width: 80%; background-color: #ffffff;margin-bottom: 20px">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-3">
                            <div style="display: inline-block">
                                <img class="img-thumbnail"
                                     src="https://www.fastweb.com/uploads/article_photo/photo/2036639/how-to-pick-the-best-professors.jpg">
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="tutor-name">
                                William J.
                            </div>
                            <div class="tutor-info">

                                I have worked 3 years in the Cyber Security Field as well as instructing, tutoring
                                numerous
                                professionals on many topics in and related to the field. I hold undergraduate degrees
                                in
                                Computer Science and Mathematics and a graduate degree in Computer Security and
                                Information
                                Assurance. I have professionally developed in C, C++, PHP, Perl, Python and Java over a
                                3-year
                                career on both Linux and Windows environments.
                            </div>
                        </div>
                    </div>
                    <div class="row tutor-info-bottom">
                        <div class="col-lg-3">
                            <span class="rating-star-wrapper">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            </span>
                            <span class="rating-score">4.6</span>
                            <span class="rating-number">(15)</span>
                        </div>
                        <div class="col-lg-4">
                            <span class="major-wrapper">Major: </span>
                            <span class="major-name">Computer Science</span>
                        </div>
                        <div class="col-lg-5">
                            <span class="clock-icon-wrapper">
                                <i class="fa fa-clock-o" aria-hidden="true"></i>
                            </span>
                            <span class="week-day-name">MON</span>
                            <span class="time-number">10:00-20:00</span>
                        </div>

                    </div>
                </div>


            </div>
            <div class="row result-row-wrapper"  style="width: 80%; background-color: #ffffff;margin-bottom: 20px">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-3">
                            <div style="display: inline-block">
                                <img class="img-thumbnail"
                                     src="https://www.fastweb.com/uploads/article_photo/photo/2036639/how-to-pick-the-best-professors.jpg">
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="tutor-name">
                                William J.
                            </div>
                            <div class="tutor-info">

                                I have worked 3 years in the Cyber Security Field as well as instructing, tutoring
                                numerous
                                professionals on many topics in and related to the field. I hold undergraduate degrees
                                in
                                Computer Science and Mathematics and a graduate degree in Computer Security and
                                Information
                                Assurance. I have professionally developed in C, C++, PHP, Perl, Python and Java over a
                                3-year
                                career on both Linux and Windows environments.
                            </div>
                        </div>
                    </div>
                    <div class="row tutor-info-bottom">
                        <div class="col-lg-3">
                            <span class="rating-star-wrapper">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            </span>
                            <span class="rating-score">4.6</span>
                            <span class="rating-number">(15)</span>
                        </div>
                        <div class="col-lg-4">
                            <span class="major-wrapper">Major: </span>
                            <span class="major-name">Computer Science</span>
                        </div>
                        <div class="col-lg-5">
                            <span class="clock-icon-wrapper">
                                <i class="fa fa-clock-o" aria-hidden="true"></i>
                            </span>
                            <span class="week-day-name">MON</span>
                            <span class="time-number">10:00-20:00</span>
                        </div>

                    </div>
                </div>


            </div>
            <div class="row result-row-wrapper"  style="width: 80%; background-color: #ffffff;margin-bottom: 20px">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-3">
                            <div style="display: inline-block">
                                <img class="img-thumbnail"
                                     src="https://www.fastweb.com/uploads/article_photo/photo/2036639/how-to-pick-the-best-professors.jpg">
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="tutor-name">
                                William J.
                            </div>
                            <div class="tutor-info">

                                I have worked 3 years in the Cyber Security Field as well as instructing, tutoring
                                numerous
                                professionals on many topics in and related to the field. I hold undergraduate degrees
                                in
                                Computer Science and Mathematics and a graduate degree in Computer Security and
                                Information
                                Assurance. I have professionally developed in C, C++, PHP, Perl, Python and Java over a
                                3-year
                                career on both Linux and Windows environments.
                            </div>
                        </div>
                    </div>
                    <div class="row tutor-info-bottom">
                        <div class="col-lg-3">
                            <span class="rating-star-wrapper">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            </span>
                            <span class="rating-score">4.6</span>
                            <span class="rating-number">(15)</span>
                        </div>
                        <div class="col-lg-4">
                            <span class="major-wrapper">Major: </span>
                            <span class="major-name">Computer Science</span>
                        </div>
                        <div class="col-lg-5">
                            <span class="clock-icon-wrapper">
                                <i class="fa fa-clock-o" aria-hidden="true"></i>
                            </span>
                            <span class="week-day-name">MON</span>
                            <span class="time-number">10:00-20:00</span>
                        </div>

                    </div>
                </div>


            </div>


            <div class="row" style="width: 80%; background-color: #ffffff;margin-bottom: 20px">
                <img class="img-thumbnail"
                     src="http://gazettereview.com/wp-content/uploads/2017/02/professor-header.jpg">
            </div>
            <div class="row" style="width: 80%; background-color: #ffffff;margin-bottom: 20px">
                <img class="img-thumbnail"
                     src="http://www.yan.sg/blog/wp-content/uploads/2015/12/640733.jpg">
            </div>
        </div>
    </div>
</header>
</body>

</html>
