<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <%- include('public/head');%>

    <title>Creative - Start Bootstrap Theme</title>





</head>

<body id="page-top">

<%- include('public/navbar');%>
<header class="masthead text-center text-white d-flex">
    <div class="container my-auto">
        <div class="row" style="margin-top: 60px; margin-bottom:20px;">
            <div class="input-group w-25" >
                <input type="text" class="form-control" placeholder="input the subject" aria-label="Text input with segmented button dropdown">
                <a class="btn btn-primary">Search</a>
            </div>
            <div class="input-group col-sm-3" style="margin-left: 30%;">
                <select id="inputState" class="form-control">
                    <option selected>Order</option>
                    <option>Order by Name</option>
                    <option>Order by Rank</option>
                    <option>Order by Price</option>


                </select>
            </div>
        </div>
        <div class="result">
            <div class="row" style="width: 80%; background-color: #ffffff;margin-bottom: 20px">
                <img class="img-thumbnail" style="width: 200px; height: 150px " src="https://www.fastweb.com/uploads/article_photo/photo/2036639/how-to-pick-the-best-professors.jpg">
            </div>
            <div class="row" style="width: 80%; background-color: #ffffff;margin-bottom: 20px">
                <img class="img-thumbnail" style="width: 200px; height: 150px " src="http://gazettereview.com/wp-content/uploads/2017/02/professor-header.jpg">
            </div>
            <div class="row" style="width: 80%; background-color: #ffffff;margin-bottom: 20px">
                <img class="img-thumbnail" style="width: 200px; height: 150px " src="http://www.yan.sg/blog/wp-content/uploads/2015/12/640733.jpg">
            </div>
        </div>
    </div>
</header>
</body>

</html>
