<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <%- include('public/head');%>

    <title>Creative - Start Bootstrap Theme</title>

    <!-- Bootstrap Date-Picker Plugin -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>



</head>

<body id="page-top">

<%- include('public/navbar');%>
<header class="masthead text-center text-white d-flex">
    <div class="container my-auto tnt-container">
        <div class="row search-three-steps-nav">
            <div class="col-lg-4">
                <div class="step-wrapper step-done" id="search_what_button">
                    <span class="step-icon step-icon-done">
                        <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                    </span>
                    <span class="step-name step-name-now">What</span>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="step-wrapper step-now" id="search_when_button">
                    <span class="step-icon step-icon-next">
                        <i class="fa fa-question-circle" aria-hidden="true"></i>
                    </span>
                    <span class="step-name step-name-now">When</span>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="step-wrapper step-next" id="search_where_button">
                    <span class="step-icon step-icon-next">
                        <i class="fa fa-question-circle" aria-hidden="true"></i>
                    </span>
                    <span class="step-name step-name-now">Where</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="date-wrapper" id="date_wrapper">

            </div>
        </div>
        <div class="row">
            <div class="time-wrapper" id="time_wrapper">
                <div class="time-button" data-hour="0">
                    <span>
                        00
                    </span>
                </div>
                <div class="time-button" data-hour="1">
                    <span>
                        01
                    </span>
                </div>
                <div class="time-button" data-hour="2">
                    <span>
                        02
                    </span>
                </div>
                <div class="time-button" data-hour="3">
                    <span>
                        03
                    </span>
                </div>
                <div class="time-button" data-hour="4">
                    <span>
                        04
                    </span>
                </div>
                <div class="time-button" data-hour="5">
                    <span>
                        05
                    </span>
                </div>
                <div class="time-button" data-hour="6">
                    <span>
                        06
                    </span>
                </div>
                <div class="time-button" data-hour="7">
                    <span>
                        07
                    </span>
                </div>
                <div class="time-button" data-hour="8">
                    <span>
                        08
                    </span>
                </div>
                <div class="time-button" data-hour="9">
                    <span>
                        09
                    </span>
                </div>
                <div class="time-button" data-hour="10">
                    <span>
                        10
                    </span>
                </div>
                <div class="time-button" data-hour="11">
                    <span>
                        11
                    </span>
                </div>
                <div class="time-button" data-hour="12">
                    <span>
                        12
                    </span>
                </div>
                <div class="time-button" data-hour="13">
                    <span>
                        13
                    </span>
                </div>
                <div class="time-button" data-hour="14">
                    <span>
                        14
                    </span>
                </div>
                <div class="time-button" data-hour="15">
                    <span>
                        15
                    </span>
                </div>
                <div class="time-button" data-hour="16">
                    <span>
                        16
                    </span>
                </div>
                <div class="time-button" data-hour="17">
                    <span>
                        17
                    </span>
                </div>
                <div class="time-button" data-hour="18">
                    <span>
                        18
                    </span>
                </div>
                <div class="time-button" data-hour="19">
                    <span>
                        19
                    </span>
                </div>
                <div class="time-button" data-hour="20">
                    <span>
                        20
                    </span>
                </div>
                <div class="time-button" data-hour="21">
                    <span>
                        21
                    </span>
                </div>
                <div class="time-button" data-hour="22">
                    <span>
                        22
                    </span>
                </div>
                <div class="time-button" data-hour="23">
                    <span>
                        23
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="next-button-wrapper">
                    <a class="btn btn-primary" id="back_button">Back</a>
                    <a class="btn btn-primary" id="next_button">Next</a>

                </div>
            </div>
        </div>

        <!--<div class="container" style="margin-top: 10px">-->
            <!--<div class="col-md-4 col-sm-6 col-xs-12 " style="margin: auto">-->
                <!--<form method="post">-->
                    <!--&lt;!&ndash;<div class="form-group"> &lt;!&ndash; Date input &ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;<input class="form-control" id="date" name="date" placeholder="MM/DD/YYY" type="text"/>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--<div class="form-group"> &lt;!&ndash; Submit button &ndash;&gt;-->
                        <!--<a class="btn btn-primary" href="/search-where">Next</a>-->
                    <!--</div>-->
                <!--</form>-->
            <!--</div>-->
        <!--</div>-->
    </div>
    <!--</div>-->
</header>
</body>
<!--<script>-->
    <!--$(document).ready(function(){-->
        <!--var date_input=$('input[name="date"]'); //our date input has the name "date"-->
        <!--var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";-->
        <!--var options={-->
            <!--format: 'mm/dd/yyyy',-->
            <!--container: container,-->
            <!--todayHighlight: true,-->
            <!--autoclose: true,-->
        <!--};-->
        <!--date_input.datepicker(options);-->
    <!--})-->
<!--</script>-->
</html>
