.tnt-container{
    margin-top: 100px !important;
}

.custominput-wrapper {
    width: 50%;
    margin-left: 50px;
    margin-top: 20px;
}
.what-input{
    margin-right: 30px;
    min-width: 300px;
}
.step-wrapper{
    height:40px;
    width: 70%;
    border-radius: 20px;
    background-color: #F05F40;
    /*border-color: #F05F40;*/
    margin: auto;
    padding-top: 8px;
    cursor: pointer;
}
.step-icon{
    margin-right: 10px;
}

.step-now{
    border-color: white;
    border-width: 1px;
    border-style: solid;
}

.step-next{
    background-color: #6f2d1a;
}

.search-three-steps-nav{
    margin-bottom:10px;
    border-bottom: dotted white 1px;
    padding-bottom: 30px;
}


#what_input{
    display: block;
    width: 100%;
}
.auto-complete-wrapper{
    display: block;
    position: relative;
    left: 0;
    top:0;
    background-color: #fcfcfc;
    color: black;
    width: 80%;
    padding-left: 10px;
    padding-right: 10px;
}
.auto-complete-item{
    border-bottom: solid #cccccc 1px;
    margin: 3px;
    padding-bottom: 5px;
    padding-top: 5px;
    cursor: pointer;
    text-align: left;
    font-size: 12px;
    /*padding-left: 10px;*/
}
.auto-complete-item-hover{
    background-color: #f09373;
}
.input-wrapper{
    display: inline;
    width: 100%;
}
.sendwrapper{
    margin-left: 50px;
    margin-top: 30px;
}
.item-title{
    min-width: 300px;
}
#what_next_button{
    display: inline-block;
    width: 100px;
    height: 40px;
}