.tnt-container{
    margin-top: 100px !important;
}

.custominput-wrapper {
    width: 50%;
    margin:auto;
    margin-top: 80px;
}
.what-input{
    margin-right: 30px;
}
.step-wrapper{
    height:40px;
    width: 70%;
    border-radius: 20px;
    background-color: #F05F40;
    /*border-color: #F05F40;*/
    margin: auto;
    padding-top: 8px;
    cursor: pointer;
}
.step-icon{
    margin-right: 10px;
}

.step-now{
    border-color: white;
    border-width: 1px;
    border-style: solid;
}

.step-next{
    background-color: #6f2d1a;
}

.search-three-steps-nav{
    margin-bottom:10px;
    border-bottom: dotted white 1px;
    padding-bottom: 30px;
}